<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome ...</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
    <style>
        .button-wrapper {
            padding-top: 20%;
        }
    </style>
</head>
<body>
<div id="app">
    <mu-container class="button-wrapper">
        <mu-flex justify-content="center" align-items="center">
            <mu-button fab large color="red">
                <mu-icon value="thumb_up"></mu-icon>
            </mu-button>
        </mu-flex>
    </mu-container>
</div>
</body>
<script>
    const app = new Vue({
        el: '#app'
    })
</script>
</html>